$max-width-page: 1280px;

$base-font-size: 14px;
$label-font-size: 8px;

$base-color: #4598de;
$font-color: #333;
$link-color: #2496e1;
$border-color: #ccc;
$select-border-color: #68787d;

$label-text-color: #fff;
$alpha-label-background-color: #da4942;
$beta-label-background-color: #ef8633;

$project-info-title-color: #999;
$project-tools-background-color: #eef2f6;

$base-border-radius: 2px;
$base-padding-horizontal: 20px;

$modal-max-width: 960px;
$modal-width: 185px;
