<div class="select__title" id="select-title">Select Tool</div>
<select class="select__element" id="favorite-select">
    {{#each this}}
        <option value="{{id}}" id="{{id}}">{{name}}</option>
    {{/each}}
</select>
