<div class="modal__close-button">
    <div class="link">Close</div>
</div>
<label for="project-name">
    <h1>Project Name</h1>
</label>
<input class="modal__input" id="project-name" placeholder="example" name="name" type="text">
<label for="project-url">
    <h1>Project URL</h1>
</label>
<input class="modal__input" id="project-url" placeholder="example.com" name="url" type="url">
<div class="modal__submit-button">
    <div class="button">Add new project</div>
</div>
