<div class="title">
    <div class="project__ribbon{{#if favorite}} project__ribbon_active{{/if}}"></div>
    <a href="#project/{{name}}" class="project__name">{{name}}</a>
    <a href="http://{{domain}}" class="link link_external">{{domain}}</a>
</div>
<div class="tools"></div>
