<div class="container">
    <header class="header header_project-info">
        <span class="header__title">{{name}}</span>
        <div class="link link_project-info">delete project</div>
    </header>
    <main>
        <div class="project-info">
            <div class="project-info__column">
                <h2>Project's information</h2>
                <p>Domain: <span class="link link_inactive">{{domain}}</span></p>
                <p>Keywords count: <strong>23</strong></p>
                <span>Keywords list:</span>
                <ul>
                    <li>amazon buy</li>
                    <li>paypal</li>
                    <li>iphone</li>
                </ul>
            </div>
            <div class="project-info__column">
                <h2>Limits</h2>
                <p>Projects: <strong>3</strong> of <strong>50</strong></p>
                <p>Keywords: <strong>130</strong> of <strong>1500</strong></p>
                <p>Pages: <strong>40</strong> of <strong>42000</strong></p>
            </div>
        </div>
    </main>
</div>
